{% extends "network/layout.html" %}

{% block body %}

<div class="profile mb-4">
    <div class="profile-info mb-2">
        <img class="profile-image" src={{required_user.image.url}} alt="img">
        <h1 class="mr-4">{{ required_user.username }}</h1>
        <h4 class="user-email">{{ required_user.email }}</h4>
        {% if user.username != name %}
            {% if is_follow %}
            <form action="{% url 'follow' id %}" method="POST">
                {% csrf_token %}
                <input type="submit" class="btn btn-primary" value="Unfollow">
            </form>
            {% else %}
            <form action="{% url 'follow' id %}" method="POST">
                {% csrf_token %}
                <input type="submit" class="btn btn-primary" value="Follow">
            </form>
            {% endif %}
        {% else %}
            <a class="btn btn-primary" href="{% url 'edit-profile' %}"> Edit Profile </a>
        {% endif %}
    </div>
    <span> Joined on {{ required_user.join_date|date:"M d, Y" }} </span>
    <div class="profile-info mt-2">
        <h3 class="mr-4">{{ followers }} <span> Followers </span></h3>
        <h3>{{ followings }} <span> Following</span></h3>
    </div>
</div>

{% if posts.count == 0 %}
    {% if required_user == user %}
        <h1>You do not have any posts yet</h1>
    {% else %}
        <h1>This user has no posts yet</h1>
    {% endif %}
{% else %}
    <h1>All Posts</h1>
{% endif %}

{% for post in posts %}
    <div class="post">
        <p>{{ post.content }}</p>
        <p>{{ post.date }}</p>
        <p class="post-like">
            <input class="post-id" name="id" value="{{post.id}}" hidden>
            {%if user in post.likes.all%}
                <i class="fas fa-heart like-icon liked"></i>
            {%else%}
                <i class="far fa-heart like-icon"></i>
            {%endif%}
            <span class="post-likes-number"> {{ post.likes.all.count }} </span>
        </p>
    </div>
{% endfor %}

<nav aria-label="Page navigation example" class="post-pagination">
    <ul class="pagination">
        {% if current_page != 1 %}
            <li class="page-item"><a class="page-link" href="?page={{current_page|add:-1}}">Previous</a></li>
        {% endif %}

        {% if current_page != total_pages %}
            <li class="page-item"><a class="page-link" href="?page={{current_page|add:1}}">Next</a></li>
        {% endif %}
    </ul>
</nav>


{% endblock %}
