
.body {
  padding-top: 55px;
}

.site-container {
  width: 55%;
  padding-top: 35px;
  margin: 0 auto;
}
@media (max-width: 600px) {
    .site-container {
        width: 80%;
        padding-top: 20px;
        margin: 0 auto;
      }
}

/* #F7F7F7 */

/* Add Post  */
.post-content-area {
  outline: none;
  resize: none;
}
.submit-btn {
  display: block;
}
/* end add post */

/* Posts */
.post {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
  /* border-bottom: none; */
  border-radius: 10px;
  padding: 15px;
  transition: all 0.2s;
}

.post-owner {
  display: flex;
  align-items: center;
}

.user-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

@media (max-width: 600px) {

    .post-owner {
        display: flex;
        flex-wrap: wrap;
    }

    .user-image {
      height: 50px;
      width: 50px;
    }
}

.post-username {
  margin-right: 10px;
}

.user-email,
.post-date {
  margin: 0;
  margin-right: 15px;
}

.post-date {
  padding: 0;
}

.post-username {
  color: #000;
}

.post-username:hover {
  color: #000;
  text-decoration: none;
}

.post-like {
  margin-bottom: 0;
  margin-right: 20px;
}

.liked {
  color: red;
}

.post-social-actions {
  display: flex;
}

/* Comments */

.comments {
  display: none;
}

.post-comment {
  margin-bottom: 0;
}


.add-comment {
  display: flex;
  /* align-items: center; */
}

.comments .user-image {
  height: 30px;
  width: 30px;
}

.add-comment-form {
  flex: 1;
}

.add-comment-input {
  height: auto;
  border-radius: 10px;
  display: inline-block;
  /* max-width: 650px; */
}

.comment {
  display: flex;
}

.comment-view {
  border-radius: 5px;
  background-color: #f7f7f7;
  flex: 1;
  padding: 10px 0 0 15px;
}
/* end posts */

/* edit-form */
.edit-form {
  display: none;
}

.edit-btn {
  padding: 0;
}

/* end edit form */

/* profile */
.profile-info {
  display: flex;
  align-items: center;
}

.profile-image {
  height: 100px;
  width: 100px;
  margin-right: 10px;
  border-radius: 50%;
}

.profile-info span {
  font-weight: normal;
  font-size: medium;
}

.profile .user-email {
  margin-right: auto;
}

/* end profile */


.helptext {
  display: none;
}

/* edit menu */

.edit-menu-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.edit-menu-btn span {
  font-size: 30px;
  line-height: 0;
  position: absolute;
  top: 7px;
  left: 7px;
  user-select: none;
}

.edit-menu-btn:hover {
  cursor: pointer;
  background-color: gainsboro;
}


.edit-menu {
  padding: 5px;
  display: none;
  width: 200px;
  border-radius: 4px;
  list-style: none;
  position: absolute;
  top: 55px;
  right: 5px;
}

.visible {
  display: block;
  background-color: white;
  border: 1px solid #f7f7f7;
  box-shadow: -10px -2px 5px rgb(238, 231, 231);
}

.edit-menu-item:hover {
  cursor: pointer;
  background-color: #f7f7f7;
}
/* end edit menu */